interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fpppp1ppp%2F4p3%2F8%2F4P3%2F8%2FPPPP1PPP%2FRNBQKBNR+w+KQkq+-+0+1
  response:
    body:
      string: '{"white":136839125,"draws":11221703,"black":136739109,"moves":[{"uci":"d2d4","san":"d4","averageRating":1757,"white":58395882,"draws":4998046,"black":55858982,"game":null},{"uci":"g1f3","san":"Nf3","averageRating":1600,"white":40159357,"draws":3255478,"black":41064495,"game":null},{"uci":"b1c3","san":"Nc3","averageRating":1691,"white":9734733,"draws":758534,"black":9549774,"game":null},{"uci":"f1c4","san":"Bc4","averageRating":1516,"white":5944675,"draws":457454,"black":6990065,"game":null},{"uci":"f2f4","san":"f4","averageRating":1692,"white":5739532,"draws":382952,"black":5864664,"game":null},{"uci":"d2d3","san":"d3","averageRating":1713,"white":5075975,"draws":425543,"black":4962835,"game":null},{"uci":"e4e5","san":"e5","averageRating":1527,"white":3591667,"draws":278797,"black":3800554,"game":null},{"uci":"c2c4","san":"c4","averageRating":1793,"white":2243345,"draws":175999,"black":2006989,"game":null},{"uci":"d1f3","san":"Qf3","averageRating":1398,"white":1398324,"draws":106834,"black":1671166,"game":null},{"uci":"b2b3","san":"b3","averageRating":1801,"white":809145,"draws":63503,"black":756130,"game":null},{"uci":"d1e2","san":"Qe2","averageRating":1965,"white":694895,"draws":59663,"black":563676,"game":null},{"uci":"c2c3","san":"c3","averageRating":1627,"white":576224,"draws":44793,"black":631857,"game":null}],"recentGames":[{"uci":"c2c3","id":"67QMsIk4","winner":"white","speed":"bullet","mode":"rated","black":{"name":"Gabriel1404","rating":1723},"white":{"name":"Billy_Talent","rating":1736},"year":2023,"month":"2023-08"},{"uci":"g1f3","id":"HZId8J8c","winner":"black","speed":"bullet","mode":"rated","black":{"name":"Sandyccs","rating":1749},"white":{"name":"Shingshang","rating":1763},"year":2023,"month":"2023-08"},{"uci":"g1f3","id":"LtzSTGD7","winner":"white","speed":"bullet","mode":"rated","black":{"name":"ali13455431","rating":1443},"white":{"name":"Mohammad_raouf","rating":1425},"year":2023,"month":"2023-08"},{"uci":"g1f3","id":"EXldYYoG","winner":"white","speed":"blitz","mode":"rated","black":{"name":"matheusmm98","rating":1863},"white":{"name":"shuravi21","rating":1856},"year":2023,"month":"2023-08"}],"topGames":[{"uci":"d2d4","id":"HdvJxMbR","winner":null,"speed":"blitz","mode":"rated","black":{"name":"Kaggle","rating":2743},"white":{"name":"Azumilover","rating":2877},"year":2023,"month":"2023-08"},{"uci":"g1f3","id":"Z0PaOtTZ","winner":"black","speed":"blitz","mode":"rated","black":{"name":"Kaggle","rating":2718},"white":{"name":"Azumilover","rating":2893},"year":2023,"month":"2023-08"},{"uci":"d2d4","id":"gyqPalvh","winner":"white","speed":"bullet","mode":"rated","black":{"name":"ViejoTortuga","rating":2932},"white":{"name":"dimochka_tsoi","rating":3066},"year":2023,"month":"2023-08"},{"uci":"g1f3","id":"ZZ8j5OeY","winner":"black","speed":"bullet","mode":"rated","black":{"name":"TrappedPiece","rating":2796},"white":{"name":"Chesssplayer21","rating":3037},"year":2023,"month":"2023-08"}],"opening":{"eco":"C00","name":"French
        Defense"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fpppp1ppp%2F4p3%2F8%2F3PP3%2F8%2FPPP2PPP%2FRNBQKBNR+b+KQkq+-+0+1
  response:
    body:
      string: '{"white":65511290,"draws":5541575,"black":62733151,"moves":[{"uci":"d7d5","san":"d5","averageRating":1791,"white":43046043,"draws":4020086,"black":42958405,"game":null},{"uci":"c7c5","san":"c5","averageRating":1673,"white":4508822,"draws":307178,"black":4283844,"gam[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3p4%2F3PP3%2F8%2FPPP2PPP%2FRNBQKBNR+w+KQkq+-+0+2
  response:
    body:
      string: '{"white":43983409,"draws":4079345,"black":43779275,"moves":[{"uci":"e4e5","san":"e5","averageRating":1690,"white":14604725,"draws":1192991,"black":15819559,"game":null},{"uci":"e4d5","san":"exd5","averageRating":1763,"white":13102779,"draws":1377775,"black":1308892[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3pP3%2F3P4%2F8%2FPPP2PPP%2FRNBQKBNR+b+KQkq+-+0+2
  response:
    body:
      string: '{"white":17558758,"draws":1400072,"black":18694818,"moves":[{"uci":"c7c5","san":"c5","averageRating":1724,"white":12988200,"draws":1098227,"black":14800297,"game":null},{"uci":"b8c6","san":"Nc6","averageRating":1368,"white":1672145,"draws":107497,"black":1362120,"g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3P4%2F3P4%2F8%2FPPP2PPP%2FRNBQKBNR+b+KQkq+-+0+2
  response:
    body:
      string: '{"white":13205715,"draws":1384189,"black":13183856,"moves":[{"uci":"e6d5","san":"exd5","averageRating":1787,"white":11971606,"draws":1292506,"black":12203815,"game":null},{"uci":"d8d5","san":"Qxd5","averageRating":1578,"white":982568,"draws":74709,"black":773796,"ga[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3p4%2F3PP3%2F2N5%2FPPP2PPP%2FR1BQKBNR+b+KQkq+-+1+2
  response:
    body:
      string: '{"white":12088090,"draws":1068624,"black":10898339,"moves":[{"uci":"g8f6","san":"Nf6","averageRating":1926,"white":3686916,"draws":334044,"black":3496096,"game":null},{"uci":"d5e4","san":"dxe4","averageRating":1840,"white":3138408,"draws":293751,"black":2717222,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fpppp1ppp%2F4p3%2F8%2F4P3%2F5N2%2FPPPP1PPP%2FRNBQKB1R+b+KQkq+-+1+1
  response:
    body:
      string: '{"white":41027570,"draws":3319395,"black":41960952,"moves":[{"uci":"d7d5","san":"d5","averageRating":1660,"white":23378959,"draws":2101668,"black":25291795,"game":null},{"uci":"c7c5","san":"c5","averageRating":1643,"white":3211645,"draws":228046,"black":3308960,"g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3p4%2F4P3%2F5N2%2FPPPP1PPP%2FRNBQKB1R+w+KQkq+-+0+2
  response:
    body:
      string: '{"white":23712721,"draws":2121301,"black":25583810,"moves":[{"uci":"e4d5","san":"exd5","averageRating":1673,"white":14997785,"draws":1439385,"black":15897189,"game":null},{"uci":"e4e5","san":"e5","averageRating":1610,"white":4644227,"draws":350231,"black":5101503[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3P4%2F8%2F5N2%2FPPPP1PPP%2FRNBQKB1R+b+KQkq+-+0+2
  response:
    body:
      string: '{"white":15119322,"draws":1446814,"black":16009265,"moves":[{"uci":"e6d5","san":"exd5","averageRating":1703,"white":13751723,"draws":1352935,"black":14909931,"game":null},{"uci":"d8d5","san":"Qxd5","averageRating":1494,"white":1037164,"draws":73949,"black":820902,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F4p3%2F3pP3%2F8%2F5N2%2FPPPP1PPP%2FRNBQKB1R+b+KQkq+-+0+2
  response:
    body:
      string: '{"white":5207970,"draws":386524,"black":5613279,"moves":[{"uci":"c7c5","san":"c5","averageRating":1678,"white":3566727,"draws":278424,"black":4125197,"game":null},{"uci":"b8c6","san":"Nc6","averageRating":1367,"white":515543,"draws":33620,"black":436099,"game":nul[...]
